variables:
  COV_THRESHOLD: '90'

include:
  - project: ccx/ccx-gitlab-includes
    ref: master
    file: /ccx-lib.yml


stages:
  - lint
  - test
  - covcheck


linting:
  extends: .pre-commit:lint
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'


pre-commit-autoupdate-check:
  extends: .pre-commit:autoupdate-check
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

test-py38:
  extends: .python:test
  variables:
    PYTHON_VENV_FROM: python3.8
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'


coverage-checking:
  extends: .coverage-check
  stage: covcheck
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  allow_failure: true

bdd-tests:
  stage: test
  image: quay.io/ccxdev/insights-behavioral-spec:ci
  variables:
    PATH_TO_LOCAL_INFERENCE_SERVICE: "$CI_PROJECT_DIR"
    BDD_PATH: /insights-behavioral-spec
    VIRTUAL_ENV: /insights-behavioral-spec-venv/
  script:
    - cd $BDD_PATH
    - make inference-service-tests
  artifacts:
    untracked: true
    when: on_failure
    paths:
      - "$BDD_PATH/logs"
    expire_in: 1 week
