fastapi==0.115.4
uvicorn[standard]==0.32.0
prometheus_fastapi_instrumentator==7.0.0
sentry-sdk>=1.37.1
setuptools>=70.0.0
# Just for development:
pytest-cov==6.1.1
pylint==3.3.1  # pre-commit
toml==0.10.2    # pre-commit
httpx==0.28.1    # fastapi testing

# Logging to Cloudwatch
boto3
python-json-logger
watchtower
